# Folders
auto-save-list/
tutorial/
assets/
server/
transient/
forOrgs/
org-persist/
elpa/
request/
eshell/
image-dired/
newsticker/
straight/
url/

# Files
*~
bookmarks
recentf
ido.last
timelog
.org-id-locations
projects
tramp
